yfinance
matplotlib
Flask
absl-py
aiohttp
aiosignal
annotated-types
anyio
appdirs
astunparse
async-timeout
attrs
beautifulsoup4
blis
boto3
botocore
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cmake
colorlog
confection
