
yfinance
Flask
absl-py
aiohttp
aiosignal
annotated-types
anyio
appdirs
astunparse
async-timeout
attrs
beautifulsoup4
blis
boto3
botocore
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cmake
colorlog
confection
cryptography
cymem
dataclasses-json
Deprecated
distlib
django-pipeline
docutils
exceptiongroup
filelock
flatbuffers
frozendict
frozenlist
fsspec
gast
gensim
gguf

grpcio
h5py
html5lib
idna
importlib-metadata
iniconfig
install
Jinja2
jmespath
joblib
jsonify
jsonpatch
jsonpointer
keras
langchain
langchain-community
langchain-core
langcodes
langsmith
libclang
lockfile
lxml
Markdown
MarkupSafe
marshmallow
mpmath
multidict
multitasking
murmurhash
mypy-extensions
networkx
nltk
numpy
oauthlib
openai
opt-einsum
packaging
pandas
pid
Pillow
platformdirs
pluggy
preshed
protobuf
pyasn1
pyasn1-modules
pycobertura
pycparser
pydantic
pydantic_core
PyGithub
PyJWT
PyNaCl
pytest
pytest-html
pytest-metadata
python-daemon
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
responses
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
service
setproctitle

smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-macos
termcolor
thinc
threadpoolctl
tokenizers
tomli
torch
torchvision
tornado
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
unittest-xml-reporting
urllib3
virtualenv
wasabi
weasel
webencodings
websockets
Werkzeug
wrapt
yarl
yfinance
zipp
openpyxl
xlsxwriter

torch
torchvision

aws-cdk-lib==2.143.0
constructs>=10.0.0,<11.0.0
matplotlib

